In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["john","dane", "jack"],
    "last": ["doe","martin","smith"],
    "email": ["johndoe@gmail.com", "danemartin@gmail.com","jacksmith@gmail.com"]
}

In [4]:
df = pd.DataFrame(people)
df

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com
2  jack   smith   jacksmith@gmail.com

In [5]:
df.to_excel("data\people.xlsx")

In [6]:
test = pd.read_excel("data\people.xlsx", index_col="first")
test

       Unnamed: 0    last                 email
first
john            0     doe     johndoe@gmail.com
dane            1  martin  danemartin@gmail.com
jack            2   smith   jacksmith@gmail.com

In [7]:
df.to_json("data\people.json")