In [1]:
people = {
    "first": ["john","dane", "jack"],
    "last": ["doe","martin","smith"],
    "email": ["johndoe@gmail.com", "danemartin@gmail.com","jacksmith@gmail.com"]
}

In [2]:
people["email"]

['johndoe@gmail.com', 'danemartin@gmail.com', 'jacksmith@gmail.com']

In [3]:
people["email"][0]

'johndoe@gmail.com'

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com
2  jack   smith   jacksmith@gmail.com

In [7]:
df["email"]

0       johndoe@gmail.com
1    danemartin@gmail.com
2     jacksmith@gmail.com
Name: email, dtype: object

In [8]:
type(df["email"])

pandas.core.series.Series

In [9]:
df[["first", "last"]]

  first    last
0  john     doe
1  dane  martin
2  jack   smith

In [10]:
# To get columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
# To Get Rows
# (iloc) Access Rows by Integer Location
df.iloc[0]

first                 john
last                   doe
email    johndoe@gmail.com
Name: 0, dtype: object

In [12]:
df.iloc[[0,1]]

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com

In [13]:
# To get email of first two rows
df.iloc[[0,1], 2]

0       johndoe@gmail.com
1    danemartin@gmail.com
Name: email, dtype: object

In [14]:
df

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com
2  jack   smith   jacksmith@gmail.com

In [15]:
# (loc) access by location and Label
df.loc[0]

first                 john
last                   doe
email    johndoe@gmail.com
Name: 0, dtype: object

In [16]:
df.loc[[0,1]]

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com

In [17]:
df.loc[[0,1], "email"]

0       johndoe@gmail.com
1    danemartin@gmail.com
Name: email, dtype: object

In [18]:
df.loc[[0,1], ['first', "last"]]

  first    last
0  john     doe
1  dane  martin

In [19]:
# Set Index
df.set_index("email", inplace=True)

In [20]:
df

                     first    last
email
johndoe@gmail.com     john     doe
danemartin@gmail.com  dane  martin
jacksmith@gmail.com   jack   smith

In [21]:
df.index

Index(['johndoe@gmail.com', 'danemartin@gmail.com', 'jacksmith@gmail.com'], dtype='object', name='email')

In [22]:
df.loc['johndoe@gmail.com']

first    john
last      doe
Name: johndoe@gmail.com, dtype: object