In [1]:
people = {
    "first": ["john","dane", "jack"],
    "last": ["doe","martin","smith"],
    "email": ["johndoe@gmail.com", "danemartin@gmail.com","jacksmith@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com
2  jack   smith   jacksmith@gmail.com

In [5]:
# Filtering last name doe 

filt = (df['last'] == 'doe')

In [6]:
df[filt]

  first last              email
0  john  doe  johndoe@gmail.com

In [7]:
df.loc[filt]

  first last              email
0  john  doe  johndoe@gmail.com

In [8]:
# Get Email which last name is doe
df.loc[filt, 'email']

0    johndoe@gmail.com
Name: email, dtype: object

In [10]:
# Using AND Operator
filt = ((df['last'] == "smith") & (df['first'] == 'jack'))
df.loc[filt]

  first   last                email
2  jack  smith  jacksmith@gmail.com

In [11]:
# Using OR Operator
filt = ((df['last'] == "martin") | (df["first"]=="john"))
df[filt]

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com

In [12]:
df.loc[~filt, 'email']

2    jacksmith@gmail.com
Name: email, dtype: object