In [1]:
people = {
    "first": ["john","dane", "jack"],
    "last": ["doe","martin","smith"],
    "email": ["johndoe@gmail.com", "danemartin@gmail.com","jacksmith@gmail.com"]
}

In [2]:
import pandas as pd
df = pd.DataFrame(people)
df

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com
2  jack   smith   jacksmith@gmail.com

In [3]:
# Sort By Column Name

df.sort_values(by="last")

  first    last                 email
0  john     doe     johndoe@gmail.com
1  dane  martin  danemartin@gmail.com
2  jack   smith   jacksmith@gmail.com

In [4]:
# sorting multiple columns in descending order

df.sort_values(by=["last", "first"], ascending=False)

  first    last                 email
2  jack   smith   jacksmith@gmail.com
1  dane  martin  danemartin@gmail.com
0  john     doe     johndoe@gmail.com

In [5]:
# Sorting last name in descending order and first name in ascending order

df.sort_values(by=["last", "first"], ascending=[False, True], inplace=True)

In [6]:
df

  first    last                 email
2  jack   smith   jacksmith@gmail.com
1  dane  martin  danemartin@gmail.com
0  john     doe     johndoe@gmail.com

In [ ]:
# Sort Single Column

df["last"].sort_values()